*
!*/
!starship.toml
!nvim/**
!kitty/**
!polybar/**
!i3/**
!fish/**
!ranger/**
!rofi/**
!.gitignore
!.zshenv
!.zshrc
!.imwheelrc
!tmux/** 
!alacritty/**
!awesome/**
!dunst/**
!st/**
!bspwm/**
!sxhkd/**
!neofetch/**
!picom/**
