*
!*/
!nvim/**
!polybar/**
!i3/**
!ranger/**
!rofi/**
!.gitignore
!.zshenv
!.zshrc
!alacritty/**
!dunst/**
!st/**
!bspwm/**
!sxhkd/**
!neofetch/**
!picom/**
!dwm/**
!lf/**
!.xinitrc
!.zshprofile
!.github/**
