omf/
thefuck/
yarn/
configstore/
iterm2/
.DS_Store
lutris/
menus/
pulse/
slack/
ulauncher/
discord/
gnome_session/
gnome-control-center/
abrt/
anthy/
autostart/
dconf/
enchant/
evolution/
goa-1.0/
gtk-3.0/
gtk-4.0/
ibus/
microsoft-edge/
nautilus/
nextjs-nodejs/
Slack/
Prospect Mail/
Mailspring/
dosbox/
